FINAL CAPSTONE PROJECT-COURSERA- BATTLE OF NEIGHBOURHOODS
Submitted by

SREEKAND BOSE
Introduction

The project deals with upcoming restaurants and the search of an upcoming restaurant location in the proximities of London. As London is a mix of various culture like asian,african and other european nationals there is a wide variety of food points everywhere. As if there are various cuisines in every nook and corner ,we can still check if there are enough Indian restaurants which are focused on north indian, south indian ,east indian,kashmiri and chinese mixed dishes.

PROBLEM

A large group of south indians are residing in London and they find it difficult to dinein in to a restaurent of their taste.so through this project we can help them to identify a proper location to setup a new restaurant based on their current amenities. Our data from Four square helps a lot to identify an affordable and convenient location where other restaurants are not a hindrance for their growth while taking the business on a long term vision.

Target Audience

The most targeted audiences are the South indians who resides in the downtown of London. As their need is to setup a diverse restaurant with wide variety of menu including european style mix with chinese and other asian dishes the audiences become more broader and the data driven can help most of the people who wants to start a restaurant or food corner.

Description


A description of the data and how it will be used to solve the problem
 Description of Data
Data taken from Foursquare.

 Dataset 
 Data will be roamed in and around London metropolitan city and the outskirts of Urban london.

 London Metropolitan city consists of 32 Boroughs and the London major city. Datas are also taken from  <https://en.wikipedia.org/wiki/List_of_areas_of_London >
 
 and 
 
 <https://fousquare api loaded data /city_of_London >

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
wikipedia_link = 'https://en.wikipedia.org/wiki/List_of_areas_of_London'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:64.0) Gecko/20100101 Firefox/64.0'}
wikipedia_page = requests.get(wikipedia_link, headers = headers)
wikipedia_page

In [3]:
# Cleans html file
soup = BeautifulSoup(wikipedia_page.content, 'html.parser')
# This extracts the "tbody" within the table where class is "wikitable sortable"
table = soup.find('table', {'class':'wikitable sortable'}).tbody
# table

In [4]:
# Extracts all "tr" (table rows) within the table above
rows = table.find_all('tr')
# rows

In [5]:
# Extracts the column headers, removes and replaces possible '\n' with space for the "th" tag
columns = [i.text.replace('\n', '')
           for i in rows[0].find_all('th')]
# columns

In [6]:
# Converts columns to pd dataframe
df = pd.DataFrame(columns = columns)
# df

In [7]:
# Extracts every row with corresponding columns
# Then appends the values to the create pd dataframe "df"
# Please not that the first row (row[0]) is skipped because it is already the header

for i in range(1, len(rows)):
    tds = rows[i].find_all('td')
    
    
    if len(tds) == 7:
        values = [tds[0].text, tds[1].text, tds[2].text.replace('\n', ''.replace('\xa0','')), tds[3].text, tds[4].text.replace('\n', ''.replace('\xa0','')), tds[5].text.replace('\n', ''.replace('\xa0','')), tds[6].text.replace('\n', ''.replace('\xa0',''))]
    else:
        values = [td.text.replace('\n', '').replace('\xa0','') for td in tds]
        
        df = df.append(pd.Series(values, index = columns), ignore_index = True)

        df

In [9]:
df.head(100)

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728
5,Aldborough Hatch,Redbridge[9],ILFORD,IG2,020,TQ455895
6,Aldgate,City[10],LONDON,EC3,020,TQ334813
7,Aldwych,Westminster[10],LONDON,WC2,020,TQ307810
8,Alperton,Brent[11],WEMBLEY,HA0,020,TQ185835
9,Anerley,Bromley[11],LONDON,SE20,020,TQ345695
10,Angel,Islington[8],LONDON,"EC1, N1",020,TQ345665
11,Aperfield,Bromley[11],WESTERHAM,TN16,01959,TQ425585
12,Archway,Islington[12],LONDON,N19,020,TQ285875
13,Ardleigh Green,Havering[12],HORNCHURCH,RM11,01708,TQ535895
14,Arkley,Barnet[12],"BARNET, LONDON","EN5, NW7",020,TQ225955
15,Arnos Grove,Enfield[12],LONDON,"N11, N14",020,TQ295925
16,Balham,Wandsworth[13],LONDON,SW12,020,TQ285735
17,Bankside,Southwark[14],LONDON,SE1,020,TQ325795
18,Barbican,City[14],LONDON,EC1,020,TQ322818
19,Barking,Barking and Dagenham[14],BARKING,IG11,020,TQ440840
20,Barkingside,Redbridge[15],ILFORD,IG6,020,TQ445895
21,Barnehurst,Bexley[15],BEXLEYHEATH,DA7,01322,TQ505755
22,Barnes,Richmond upon Thames[15],LONDON,SW13,020,TQ225765
23,Barnes Cray,Bexley[16],DARTFORD,DA1,01322,TQ525755
24,Barnet Gate,Barnet,"LONDON, BARNET","NW7, EN5",020,TQ218952
25,"Barnet (also Chipping Barnet, High Barnet)",Barnet[16],BARNET,EN5,020,TQ245955
26,Barnsbury,Islington[17],LONDON,N1,020,TQ305845
27,Battersea,Wandsworth[18],LONDON,SW11,020,TQ285765
28,Bayswater,Westminster[19],LONDON,W2,020,TQ255805
29,Beckenham,Bromley[20],"BECKENHAM, LONDON","BR3, SE20",020,TQ375695
...,...,...,...,...,...,...
70,Brunswick Park,Barnet[37],LONDON,N11,020,TQ280932
71,Bulls Cross,Enfield[38],ENFIELD,"EN2, EN3",020,TQ342994
72,Burnt Oak,Barnet[39],EDGWARE,HA8,020,TQ205915
73,"Burroughs, The",Barnet[39],LONDON,NW4,020,TQ227891
74,Camberwell,Southwark[40],LONDON,SE5,020,TQ325767
75,Cambridge Heath,Tower Hamlets[40],LONDON,E2,020,TQ348832
76,Camden Town,Camden[40],LONDON,NW1,020,TQ295845
77,Canary Wharf,Tower Hamlets[40],LONDON,E14,020,TQ375802
78,Cann Hall,Waltham Forest[41],LONDON,E11,020,TQ395875
79,Canning Town,Newham[41],LONDON,E16,020,TQ405815
80,Canonbury,Islington[41],LONDON,N1,020,TQ325845
81,Carshalton,Sutton[42],CARSHALTON,SM5,020,TQ275645
82,Castelnau,Richmond upon Thames[43],LONDON,SW13,020,TQ226776
83,Castle Green,Barking and Dagenham,DAGENHAM,RM9,020,TQ475837
84,Catford,Lewisham,LONDON,SE6,020,TQ385735
85,Chadwell Heath,"Redbridge, Barking and Dagenham",ROMFORD,RM6,020,TQ485885
86,Chalk Farm,Camden,LONDON,NW1,020,TQ281844
87,Charing Cross,Westminster,LONDON,WC2,020,TQ305805
88,Charlton,Greenwich,LONDON,SE7,020,TQ415785
89,Chase Cross,Havering,ROMFORD,RM5,01708,TQ505925
90,Cheam,Sutton,SUTTON/MERTON,"SM1 (PARTIAL)SM2, SM3",020,TQ245625
91,Chelsea,Kensington and Chelsea,LONDON,SW3,020,TQ275775
92,Chelsfield,Bromley,ORPINGTON,BR6,01689,TQ482642
93,Chessington,Kingston upon Thames,CHESSINGTON,KT9,020,TQ183641
94,Childs Hill,Barnet,LONDON,NW2,020,TQ245865
95,Chinatown,Westminster,LONDON,W1,020,TQ395895
96,Chinbrook,Lewisham,LONDON,SE12,020,TQ411722
97,Chingford,Waltham Forest,LONDON,E4,020,TQ395945
98,Chislehurst,Bromley,CHISLEHURST,BR7,020,TQ445705
99,Chiswick,"Hounslow, Ealing, Hammersmith and Fulham",LONDON,W4,020,TQ205785